{% extends "nba_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action ="" method="post" autocomplete="off">
  {%csrf_token%}

  <div class = "row">
      <div class = "col-md-2">
        {{form.player_id|as_crispy_field}}

      </div>
      <div class = "col-md-4">
      {{form.playername|as_crispy_field}}
      </div>

  </div>

      <div class = "row">
          <div class = "col-md-8">
              <button type = "submit" class = "btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                  Submit </button>
          </div>
          <div class = "col-md-4">
            <a href = "{% url 'player_list' %}" class = "btn btn-secondary btn-block btn-lg">
                <i class = "fas fa-stream"></i> Back to List
            </a>
          </div>
      </div>
        
</form>
{% endblock content%}
