{% extends "nba_app/base.html" %}
{% block content %}
<div class="search-bar mt-sm-2 mr-2">
  <form class="form-inline my-2 my-lg-0">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search..."
      aria-label="Search"
      name = 'search'
      >
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>

<div class="container">
  <form action = "" class="form-inline" method = "GET">
    <div class="form-group  col-lg-8">
      <input id="pts" name="input1" type="number" placeholder="pts" class="form-control">
    </div>
    <div class="form-group  col-lg-8">
      <input id="ast" name="input1" type="number" placeholder="ast" class="form-control">
    </div>
    <div class="form-group  col-lg-8">
      <input id="reb" name="input1" type="number" placeholder="reb" class="form-control">
    </div>
    <div class="form-group  col-lg-8">
      <input id="blk" name="input1" type="number" placeholder="blk" class="form-control">
    </div>
    <div class="form-group  col-lg-8">
      <input id="stl" name="input1" type="number" placeholder="stl" class="form-control">
    </div>
    <div class="form-group  col-lg-8">
      <input id="gp" name="input1" type="number" placeholder="gp" class="form-control">
    </div>
    <div class="col-xs-8 col-lg-8">
        <button type="button" class="btn btn-primary" id="recs">Find Recommended Player(s)</button>
    </div>
  </form>
</div>


<script type="text/javascript">
document.getElementById("recs").onclick = function() {
    let nloc = "/nba_app/recommended?";
    let fields = ["pts","ast","reb","blk","stl","gp"];
    let params = [];
    for (let i=0;i<6;i++) {
        let s = document.getElementById(fields[i]).value;
        if (s) params.push(fields[i]+"="+s);
    }
    nloc += params.join("&");
    location.replace(nloc);
}
</script>
<div class = "row">
    <div class = "col-md-3 mt-sm-2 mr-2">
      <a href = "{% url 'team_list' %}" class = "btn btn-secondary btn-block btn-lg">
          <i class = "fas fa-stream"></i> Team List
      </a>
    </div>
</div>
<table class = "table table-borderless">
    <thead class = "border-bottom font-weight-bold">
        <tr>
            <td> Player Name </td>
            <td> Player ID </td>
            <td> Team </td>
            <td> PTS </td>
            <td> AST </td>
            <td> REB </td>
            <td> BLK </td>
            <td> STL </td>
            <td> GP </td>
            <td>
               <a href = "{% url 'player_insert' %}" class="btn btn-outline-success">
                   <i class = "fas fa-plus"></i> Add New
               </a>
            </td>
        </tr>
      </thead>
      <tbody>
          {% for player in player_list %}
           <tr>
              <td>{{player.playername}}</td>
              <td>{{player.player_id}}</td>
              <td>{{player.team}}</td>
              <td>{{player.points}}</td>
              <td>{{player.assists}}</td>
              <td>{{player.rebounds}}</td>
              <td>{{player.blocks}}</td>
              <td>{{player.steals}}</td>
              <td>{{player.games_played}}</td>
              <td>
                  <a href = "{% url 'player_update' player.player_id %}" class = "btn text-secondary px-0">
                      <i class = "far fa-edit fa-lg"></i>
                    </a>
                    <form action = "{% url 'list_delete' player.player_id %}" method = "post" class ="d-inline">
                      {% csrf_token %}
                      <button type = "submit" class = "btn">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                      </button>
                    </form>
              </td>
          </tr>
          {% endfor %}
      </tbody>
</table>
{% endblock content%}
