{% extends "nba_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class = "row">
    <div class = "col-md-3 mt-sm-2 mr-2">
      <a href = "{% url 'player_list' %}" class = "btn btn-secondary btn-block btn-lg">
          <i class = "fas fa-stream"></i> Player List
      </a>
    </div>
  </div>
<table class = "table table-borderless">
    <thead class = "border-bottom font-weight-bold">
        <tr>
          <td>Player ID</td>
          <td>Player Name</td>
          <td>Team Name</td>
          <td> PTS </td>
          <td> AST </td>
          <td> REB </td>
          <td> BLK </td>
          <td> STL </td>
          <td> GP </td>
          <td> Euclidean Distance</td>
        </tr>
      </thead>
      <tbody>
          {% for p in player_list %}
           <tr>
            <td>{{p.0}}</td>
            <td>{{p.1}}</td>
            <td>{{p.2}}</td>
            <td>{{p.3}}</td>
            <td>{{p.4}}</td>
            <td>{{p.5}}</td>
            <td>{{p.6}}</td>
            <td>{{p.7}}</td>
            <td>{{p.8}}</td>
            <td>{{p.9}}</td>
       </tr>
       {% endfor %}
   </tbody>
</table>
</table>





{% endblock content%}
